.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}
.row {
    width:100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
    border: 1px solid black;
    background-color: lightgrey;
    margin: .5em 0;
    text-align: center;
    box-sizing: border-box;
}
.column.one{
    width: 100%;
}
.column.one-half {
    width: 50%;
}
.column.one-third{
    width: 33.33%;
}
.column.two-third {
    width: 66.66%;
}
.column.one-fourth, .three-sixth, .two-fourth{
    width: 25%;
}
.column.three-fourth{
    width: 75%;
}
.column.one-sixth{
    width: 16.66%;
}
.column.one-eighth{
    width: 12.5%;
}
.column.three-eighth {
    width: 37.5%;
}
.column.seven-eighth {
    width: 87.5%;
}
.offset-one-half{
    margin-left: 50%;
}
.offset-one-third{
    margin-left: 33.33%;
}
.offset-two-third{
    margin-left: 66.66%;
}
.offset-one-fourth{
    margin-left: 25%;
}
@media screen and (max-width: 770px) {
    .column.one-half,
    .column.one-third,
    .column.two-third,
    .column.one-fourth,
    .column.one-sixth,
    .column.one-eighth {
        width: 100%;
    }
}